*{
    font-family: 'Roboto', sans-serif;
}
body{
<<<<<<< HEAD
    background-color: #DDCECD;
=======
    background-color: DDCECD;
}
.my-flipster{
margin-top: 200px;
}
li img{
border: 3px;
border-color: bisque;
<<<<<<< HEAD
border-radius: 8px;
}

h1{
    text-align: center;
=======
border-radius: 4px;
>>>>>>> cadf32bf389b7f532b27a36e7fa56bd78f792bd9
>>>>>>> 938075620b324a09f1f227a14e78eec2d39c6939
}