*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: DDCECD;
}
.my-flipster{
margin-top: 200px;
}
li img{
border: 3px;
border-color: bisque;
border-radius: 8px;
}

h1{
    text-align: center;
}