*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #EEE5E5!important;
}
.my-flipster{
margin-top: 100px;
}
li img{
border: 3px;
border-color: bisque;
border-radius: 8px;
}

h1{
    text-align: center;
    margin-top: 70px!important;
}